
<!--Featured-->
<section id="featured" class="block equal-height">
    <div class="container">
        <header><h2>Featured</h2></header>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="item">
                    <div class="image">
                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                        <a href="item-detail.html">
                            <div class="overlay">
                                <div class="inner">
                                    <div class="content">
                                        <h4>Description</h4>
                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-specific">
                                <span title="Bedrooms"><img src="assets/img/bedrooms.png" alt="">2</span>
                                <span title="Bathrooms"><img src="assets/img/bathrooms.png" alt="">2</span>
                                <span title="Area"><img src="assets/img/area.png" alt="">240m<sup>2</sup></span>
                                <span title="Garages"><img src="assets/img/garages.png" alt="">1</span>
                            </div>
                            <div class="icon">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <img src="assets/img/items/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="wrapper">
                        <a href="item-detail.html"><h3>Steak House Restaurant</h3></a>
                        <figure>63 Birch Street</figure>
                        <div class="info">
                            <div class="type">
                                <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                <span>Restaurant</span>
                            </div>
                            <div class="rating" data-rating="4"></div>
                        </div>
                    </div>
                </div>
                <!-- /.item-->
            </div>
            <!--/.col-sm-4-->
            <div class="col-md-3 col-sm-3">
                <div class="item">
                    <div class="image">
                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                        <a href="item-detail.html">
                            <div class="overlay">
                                <div class="inner">
                                    <div class="content">
                                        <h4>Description</h4>
                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/items/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="wrapper">
                        <a href="item-detail.html"><h3>Benny’s Cafeteria</h3></a>
                        <figure>63 Birch Street</figure>
                        <div class="info">
                            <div class="type">
                                <i><img src="assets/icons/restaurants-bars/restaurants/cafetaria.png" alt=""></i>
                                <span>Cafeteria</span>
                            </div>
                            <div class="rating" data-rating="4"></div>
                        </div>
                    </div>
                </div>
                <!-- /.item-->
            </div>
            <!--/.col-sm-4-->
            <div class="col-md-3 col-sm-3">
                <div class="item">
                    <div class="image">
                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                        <a href="item-detail.html">
                            <div class="overlay">
                                <div class="inner">
                                    <div class="content">
                                        <h4>Description</h4>
                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-specific">
                                <span>Daily menu from: $6</span>
                            </div>
                            <img src="assets/img/items/restaurant/9.jpg" alt="">
                        </a>
                    </div>
                    <div class="wrapper">
                        <a href="item-detail.html"><h3>Big Bamboo</h3></a>
                        <figure>4662 Bruce Street</figure>
                        <div class="info">
                            <div class="type">
                                <i><img src="assets/icons/restaurants-bars/restaurants/japanese-food.png" alt=""></i>
                                <span>Sushi</span>
                            </div>
                            <div class="rating" data-rating="3"></div>
                        </div>
                    </div>
                </div>
                <!-- /.item-->
            </div>
            <!--/.col-sm-4-->
            <div class="col-md-3 col-sm-3">
                <div class="item">
                    <div class="image">
                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                        <a href="item-detail.html">
                            <div class="overlay">
                                <div class="inner">
                                    <div class="content">
                                        <h4>Description</h4>
                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-specific">
                                <span>Daily menu from: $6</span>
                            </div>
                            <img src="assets/img/items/restaurant/10.jpg" alt="">
                        </a>
                    </div>
                    <div class="wrapper">
                        <a href="item-detail.html"><h3>Sushi Wooshi Bar</h3></a>
                        <figure>357 Trainer Avenue</figure>
                        <div class="info">
                            <div class="type">
                                <i><img src="assets/icons/restaurants-bars/restaurants/fishchips.png" alt=""></i>
                                <span>Sushi Bar</span>
                            </div>
                            <div class="rating" data-rating="3"></div>
                        </div>
                    </div>
                </div>
                <!-- /.item-->
            </div>
            <!--/.col-sm-4-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
    <div class="background opacity-5">
        <img src="assets/img/restaurants-bg2.jpg" alt="">
    </div>
</section>
<!--end Featured-->

<!--Popular-->
<section id="popular" class="block background-color-white">
    <div class="container">
        <header><h2>Popular</h2></header>
        <div class="owl-carousel wide carousel">
            <div class="slide">
                <div class="inner">
                    <div class="image">
                        <div class="item-specific">
                            <div class="inner">
                                <div class="content">
                                    <dl>
                                        <dt>Bedrooms</dt>
                                        <dd>2</dd>
                                        <dt>Bathrooms</dt>
                                        <dd>2</dd>
                                        <dt>Area</dt>
                                        <dd>240m<sup>2</sup></dd>
                                        <dt>Garages</dt>
                                        <dd>1</dd>
                                        <dt>Build Year</dt>
                                        <dd>1990</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/items/restaurant/8.jpg">
                    </div>
                    <div class="wrapper">
                        <a href="item-detail.html"><h3>Magma Bar and Grill</h3></a>
                        <figure>
                            <i class="fa fa-map-marker"></i>
                            <span>970 Chapel Street, Rosenberg, TX 77471</span>
                        </figure>
                        <div class="info">
                            <div class="rating" data-rating="4">
                                <aside class="reviews">6 reviews</aside>
                            </div>
                            <div class="type">
                                <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png"></i>
                                <span>Restaurant</span>
                            </div>
                        </div>
                        <!--/.info-->
                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa, viverra interdum eros ut,
                            imperdiet pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis.
                            Curabitur suscipit, justo eu dignissim lacinia, ante sapien pharetra dui...
                        </p>
                        <a href="item-detail.html" class="read-more icon">Read More</a>
                    </div>
                    <!--/.wrapper-->
                </div>
                <!--/.inner-->
            </div>
            <!--/.slide-->
            <div class="slide">
                <div class="inner">
                    <div class="image">
                        <div class="item-specific">
                            <div class="inner">
                                <div class="content">
                                    <dl>
                                        <dt>Bedrooms</dt>
                                        <dd>2</dd>
                                        <dt>Bathrooms</dt>
                                        <dd>2</dd>
                                        <dt>Area</dt>
                                        <dd>240m<sup>2</sup></dd>
                                        <dt>Garages</dt>
                                        <dd>1</dd>
                                        <dt>Build Year</dt>
                                        <dd>1990</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/items/restaurant/9.jpg">
                    </div>
                    <div class="wrapper">
                        <a href="item-detail.html"><h3>Saguaro Tavern</h3></a>
                        <figure>
                            <i class="fa fa-map-marker"></i>
                            <span>2476 Whispering Pines Circle</span>
                        </figure>
                        <div class="info">
                            <div class="rating" data-rating="4">
                                <aside class="reviews">6 reviews</aside>
                            </div>
                            <div class="type">
                                <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png"></i>
                                <span>Restaurant</span>
                            </div>
                        </div>
                        <!--/.info-->
                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa, viverra interdum eros ut,
                            imperdiet pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis.
                            Curabitur suscipit, justo eu dignissim lacinia, ante sapien pharetra dui...
                        </p>
                        <a href="item-detail.html" class="read-more icon">Read More</a>
                    </div>
                    <!--/.wrapper-->
                </div>
                <!--/.inner-->
            </div>
            <!--/.slide-->
        </div>
        <!--/.owl-carousel-->
    </div>
    <!--/.container-->
</section>
<!--end Popular-->

<!--Why Us-->
<section id="why-us" class="block">
    <div class="container">
        <header><h2>Why Us?</h2></header>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature-box">
                    <i class="fa fa-thumbs-up"></i>
                    <div class="description">
                        <h3>Lorem ipsum dolor </h3>
                        <p>
                            Praesent tempor a erat in iaculis. Phasellus vitae libero libero. Vestibulum ante
                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        </p>
                    </div>
                </div>
                <!--/.feature-box-->
            </div>
            <!--/.col-md-4-->
            <div class="col-md-4 col-sm-4">
                <div class="feature-box">
                    <i class="fa fa-folder"></i>
                    <div class="description">
                        <h3>Etiam vehicula felis a ipsum</h3>
                        <p>
                            Pellentesque nisl quam, aliquet sed velit eu, varius condimentum nunc.
                            Nunc vulputate turpis ut erat egestas, vitae rutrum sapien varius.
                        </p>
                    </div>
                </div>
                <!--/.feature-box-->
            </div>
            <!--/.col-md-4-->
            <div class="col-md-4 col-sm-4">
                <div class="feature-box">
                    <i class="fa fa-money"></i>
                    <div class="description">
                        <h3>Donec dolor justo, volutpat </h3>
                        <p>
                            Maecenas quis ipsum lectus. Fusce molestie, metus ut consequat pulvinar,
                            ipsum quam condimentum leo, sit amet auctor lacus nulla at felis.
                        </p>
                    </div>
                </div>
                <!--/.feature-box-->
            </div>
            <!--/.col-md-4-->
        </div>
    </div>
</section>
<!--end Why Us-->

<hr>

<!--Listing-->
<section id="listing" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <section class="equal-height">
                    <header><h2>Today Popular</h2></header>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/img/items/restaurant/11.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Max Five Lounge</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/img/items/restaurant/4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Magma Bar & Grill</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="assets/icons/restaurants-bars/restaurants/restaurant_steakhouse.png" alt=""></i>
                                            <span>Steak House</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-specific">
                                            <span>Menu from: $9.00</span>
                                        </div>
                                        <img src="assets/img/items/restaurant/8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Guild Trattoria</h3></a>
                                    <figure>4662 Bruce Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="assets/icons/restaurants-bars/restaurants/barbecue.png" alt=""></i>
                                            <span>BBQ Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->

                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/img/items/restaurant/12.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Sushi Wooshi Bar</h3></a>
                                    <figure>357 Trainer Avenue</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="assets/icons/restaurants-bars/restaurants/fishchips.png" alt=""></i>
                                            <span>Sushi Bar</span>
                                        </div>
                                        <div class="rating" data-rating="3"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/img/items/4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Max Five Lounge</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                            <span>Restaurant</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                        <div class="col-md-4 col-sm-4">
                            <div class="item ">
                                <div class="image">
                                    <div class="quick-view" id="10"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                    <a href="item-detail.html">
                                        <div class="overlay">
                                            <div class="inner">
                                                <div class="content">
                                                    <h4>Description</h4>
                                                    <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="assets/img/items/6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="wrapper">
                                    <a href="item-detail.html"><h3>Magma Bar & Grill</h3></a>
                                    <figure>63 Birch Street</figure>
                                    <div class="info">
                                        <div class="type">
                                            <i><img src="assets/icons/restaurants-bars/restaurants/restaurant_steakhouse.png" alt=""></i>
                                            <span>Steak House</span>
                                        </div>
                                        <div class="rating" data-rating="4"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.item-->
                        </div>
                        <!--/.col-sm-4-->
                    </div>
                    <!--/.row-->
                </section>
                <!--/.equal-height-->

                <!--Categories-->
                <app-categories id="categories" class="block"></app-categories>
                <!--end Categories-->

            </div>
            <div class="col-md-3 col-sm-3">
                <aside id="sidebar">
                    <section>
                        <header><h2>Text Widget</h2></header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lectus turpis, rutrum
                            at dictum ac, mollis sed turpis. Integer commodo condimentum quam sit amet pellentesque.
                            In convallis orci sit amet dictum ultricies. Donec iaculis libero sed euismod blandit
                        </p>
                    </section>
                    <section>
                        <header><h2>Events</h2></header>
                        <div class="form-group">
                            <select class="framed" name="events">
                                <option value="">Select Your City</option>
                                <option value="1">London</option>
                                <option value="2">New York</option>
                                <option value="3">Barcelona</option>
                                <option value="4">Moscow</option>
                                <option value="5">Tokyo</option>
                            </select>
                        </div>
                    </section>
                    <section>
                        <header><h2>New Places</h2></header>
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Cash Cow Restaurante</h3>
                            <figure>63 Birch Street</figure>
                            <div class="wrapper">
                                <div class="image"><img src="assets/img/items/1.jpg" alt=""></div>
                                <div class="info">
                                    <div class="type">
                                        <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="4"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Blue Chilli</h3>
                            <figure>2476 Whispering Pines Circle</figure>
                            <div class="wrapper">
                                <div class="image"><img src="assets/img/items/2.jpg" alt=""></div>
                                <div class="info">
                                    <div class="type">
                                        <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="3"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                        <a href="item-detail.html" class="item-horizontal small">
                            <h3>Eddie’s Fast Food</h3>
                            <figure>4365 Bruce Street</figure>
                            <div class="wrapper">
                                <div class="image"><img src="assets/img/items/3.jpg" alt=""></div>
                                <div class="info">
                                    <div class="type">
                                        <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span>
                                    </div>
                                    <div class="rating" data-rating="5"></div>
                                </div>
                            </div>
                        </a>
                        <!--/.item-horizontal small-->
                    </section>
                </aside>
                <!--/#sidebar-->
            </div>
            <!--/.col-md-3-->
        </div>
        <!--/.row-->
    </div>
    <!--/.block-->
</section>
<!--end Listing-->

<hr>

<!--Partners-->
<section id="partners" class="block">
    <div class="container">
        <header><h2>Partners</h2></header>
        <div class="logos">
            <div class="logo"><a href="#"><img src="assets/img/logo-partner-01.png" alt=""></a></div>
            <div class="logo"><a href="#"><img src="assets/img/logo-partner-02.png" alt=""></a></div>
            <div class="logo"><a href="#"><img src="assets/img/logo-partner-03.png" alt=""></a></div>
            <div class="logo"><a href="#"><img src="assets/img/logo-partner-04.png" alt=""></a></div>
            <div class="logo"><a href="#"><img src="assets/img/logo-partner-05.png" alt=""></a></div>
        </div>
    </div>
    <!--/.container-->
</section>
<!--end Partners-->


