@import "main";

.user-profile-form {
  display: block;

  &__section {
    margin-bottom: 30px;

    &._password-change {
      padding: 20px;
      border: 2px dashed #FF513F;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;

    .fa {
      color: #36b6ff;
    }

    &._password-change {
      margin-top: 0;
      font-size: 16px;
      .fa {
        color: #FF513F;
      }
    }
  }

  &__photo-wrapper {
    position: relative;
    width: 220px;
    margin: 0 auto;
  }

  &__photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__photo-input {
    position: relative;
    z-index: 10;
    width: 220px;
    height: 220px;
    opacity: 0;
    cursor: pointer;
  }

  &__photo-message {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    background: rgba(255, 255, 255, .6);
  }

}

input.has-error {
  border: 1px solid #a94442;
}

.form-info {
  padding: 10px;
  margin-bottom: 10px;

  p {
    margin: 5px 0;
    line-height: 1em;
    color: #333;
  }
}