.user-profile-form {
  display: block; }
  .user-profile-form__section {
    margin-bottom: 30px; }
    .user-profile-form__section._password-change {
      padding: 20px;
      border: 2px dashed #FF513F; }
  .user-profile-form__title {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: none; }
    .user-profile-form__title .fa {
      color: #36b6ff; }
    .user-profile-form__title._password-change {
      margin-top: 0;
      font-size: 16px; }
      .user-profile-form__title._password-change .fa {
        color: #FF513F; }
  .user-profile-form__photo-wrapper {
    position: relative;
    width: 220px;
    margin: 0 auto; }
  .user-profile-form__photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .user-profile-form__photo-input {
    position: relative;
    z-index: 10;
    width: 220px;
    height: 220px;
    opacity: 0;
    cursor: pointer; }
  .user-profile-form__photo-message {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    background: rgba(255, 255, 255, 0.6); }

input.has-error {
  border: 1px solid #a94442; }

.form-info {
  padding: 10px;
  margin-bottom: 10px; }
  .form-info p {
    margin: 5px 0;
    line-height: 1em;
    color: #333; }
