<h4>Фильтры</h4>
<div class="filter-container">
    <select (onSelected)="onCitySelected($event)" [selected]="filter.where.cityId" [items]="cityList" name="city" title="Город" class="selectpicker" data-live-search="true"></select>
    <select (onSelected)="onCategorySelected($event)" [selected]="filter.where.categoryId" [items]="categoryList" name="category" title="Категория" class="selectpicker" data-live-search="true"></select>
</div>
<h4>Результаты
    <small *ngIf="companyList?.length" class="text-muted">
        ({{companyList.length}}
        <span *ngIf="companyList.length > 1">компаний найдено</span>
        <span *ngIf="companyList.length === 1">компания найдена</span>
        )
    </small>
</h4>
<div *ngIf="!filter.where.cityId || !filter.where.categoryId" class="text-muted text-center">
    <i class="fa fa-search"></i>
    Ничего не найдено. Выберите оба фильтра
</div>
<div class="list-container">
    <div *ngFor="let company of companyList" company-card [company]="company" (click)="selectedCompany = company"></div>
</div>
<company-modal [company]="selectedCompany"></company-modal>
