<div class="company-card">

  <a href="" class="company-card__photo">
    <img src="{{company.photo || '/scripts/components/company/assets/img/img-1.jpg'}}" alt="" class="company-card__img">

    <div class="company-card__specific">
      <span class="company-card__specific-opt"> <i class="fa fa-bed company-card__icon"></i> 2</span>
      <span class="company-card__specific-opt"> <i class="fa fa-tint company-card__icon"></i> 2</span>
      <span class="company-card__specific-opt"> <i class="fa fa-arrows-alt company-card__icon"></i> 40 <sup>2</sup></span>
      <span class="company-card__specific-opt"> <i class="fa fa-car company-card__icon"></i> 1</span>
    </div>
  </a>
  <div class="company-card__info">
    <a href="" class="company-card__title">{{company.title}}</a>
    <div class="company-card__location">{{company.locationDetail}}</div>
    <div class="company-card__price">$42.000</div>
    <div class="company-card__type"><i class="fa fa-building-o company-card__icon company-card__icon_type"></i>Apartment</div>
    <div class="company-card__rating">
      <i class="fa fa-star fa-star_active" data-score="1"></i>
      <i class="fa fa-star fa-star_active" data-score="2"></i>
      <i class="fa fa-star fa-star_active" data-score="3"></i>
      <i class="fa fa-star" data-score="4"></i>
      <i class="fa fa-star" data-score="5"></i>
    </div>
  </div>
</div>
