<header>
  <h1 class="page-title">Sign In</h1>
</header>
<hr>
<form role="form" id="form-sign-in-account" method="post" action="?">
  <div class="form-group">
    <label for="form-sign-in-email">Email:</label>
    <input type="email" class="form-control" id="form-sign-in-email" name="form-sign-in-email" required>
  </div><!-- /.form-group -->
  <div class="form-group">
    <label for="form-sign-in-password">Password:</label>
    <input type="password" class="form-control" id="form-sign-in-password" name="form-sign-in-password" required>
  </div><!-- /.form-group -->
  <div class="form-group clearfix">
    <button type="submit" class="btn pull-right btn-default" id="account-submit">Sign In</button>
  </div><!-- /.form-group -->
</form>
