<div class="col-sm-3" *ngIf="categoryList">
    <div class="profile-favorites-filter">
        <button (click)="selectedCategory = null" class="profile-favorites-filter__btn"
                [class._active]="!selectedCategory">All items
        </button>
        <button *ngFor="let category of categoryList"
                (click)="selectedCategory = category.id"
                class="profile-favorites-filter__btn"
                [class._active]="selectedCategory == category.id">{{category.name}}
        </button>
    </div>

</div>

<div [class.col-sm-9]="categoryList" [class.col-sm-12]="!categoryList">
    <company-list [companyList]="companyList" [showTitle]="false" [categoryId]="selectedCategory"></company-list>
</div>
