*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
!tscodestyle.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
npm-debug.log.*
client/admin/bower_components
client/admin/build
server/datasources.json
**/storage/**/*
robots.txt
/client/app/vendor/
