<a *ngIf="!branch.children && branch.name === 'Home page'"
   href="http://b4u.com.ua/">{{branch.name | translate}}
</a>
<a *ngIf="!branch.children && branch.name !== 'Home page'"
   routerLink="{{branch.link}}">{{branch.name | translate}}
</a>
<a *ngIf="branch.children"
   data-toggle="collapse"
   aria-expanded="false"
   class="has-children"
   href="{{'#'+id+branch.link}}">{{branch.name | translate}}
    <span>
      <i class="fa fa-plus"></i>
      <i class="fa fa-minus"></i>
    </span>
</a>
<ul *ngIf="branch.children" id="{{id+branch.link}}" class="collapse">
  <li class="menu-branch"
      *ngFor="let branch of branch.children; let i = index"
      [branch]="branch"
      [hash]="id + i"></li>
</ul>
