.change-company-view {
  color: #a5a5a5; }
  .change-company-view__btn {
    font-size: 18px; }
    .change-company-view__btn.active {
      color: #474747; }

.company-list__section {
  padding-top: 15px;
  padding-bottom: 15px; }

.company-list__header {
  padding-bottom: 15px; }

.company-list__title {
  margin-top: 0;
  margin-bottom: 15px; }

.company-list__warning {
  font-size: 14px;
  margin: 15px 0; }

.company-card-list {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .company-card-list__item {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .company-card-list_grid {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute; }
    .company-card-list_grid .company-card-list__item {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 0 200px;
      -moz-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
      flex: 1 0 200px;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
      .company-card-list_grid .company-card-list__item .company-card {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify; }
        .company-card-list_grid .company-card-list__item .company-card__photo {
          display: block;
          width: 100%; }
        .company-card-list_grid .company-card-list__item .company-card__img {
          max-height: 310px; }
        .company-card-list_grid .company-card-list__item .company-card__info {
          display: block;
          width: 100%;
          padding: 20px 20px 10px;
          text-align: center; }
        .company-card-list_grid .company-card-list__item .company-card__title {
          margin-bottom: 5px; }
        .company-card-list_grid .company-card-list__item .company-card__price {
          position: relative;
          display: inline-block;
          margin-top: 5px;
          font-size: 12px; }
        .company-card-list_grid .company-card-list__item .company-card__type {
          display: block; }
        .company-card-list_grid .company-card-list__item .company-card__rating {
          display: block; }
        .company-card-list_grid .company-card-list__item .company-card__btn {
          position: relative;
          text-transform: uppercase;
          height: 30px; }
