<div class="company-list__section">
  <company-filter *ngIf="filterActive"></company-filter>
</div>

<div class="company-list__section">
  <div class="company-list__header clearfix">
    <h4 *ngIf="showTitle" class="company-list__title pull-left">{{'Result' | translate}}
      <small *ngIf="companyList?.length" class="text-muted">
        ({{companyList.length}}
        <span *ngIf="companyList.length > 1">{{'companies found' | translate}}</span>
        <span *ngIf="companyList.length === 1">{{'company found' | translate}}</span>)
      </small>
    </h4>

    <div class="change-company-view pull-right" *ngIf="viewTypeActive && (companyList && companyList != 0)">
      <button (click)="setViewType('grid')" class="change-company-view__btn" [class.active]="gridViewType"><i
        class="fa fa-th-large" aria-hidden="true"></i></button>
      <button (click)="setViewType('list')" class="change-company-view__btn" [class.active]="!gridViewType"><i
        class="fa fa-th-list" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="company-card-list" [class.company-card-list_grid]="gridViewType" *ngIf="companyList?.length">
    <company-card class="company-card-list__item"
                  *ngFor="let company of (companyList | filterBy: {'categoryId': categoryId})"
                  [company]="company"
                  (click)="selectedCompany = company">
    </company-card>
  </div>

  <div *ngIf="companyList == 0" class="text-muted text-center company-list__warning">
    <i class="fa fa-lg fa-search"></i>
    {{'No companies' | translate}}
  </div>
</div>

<company-modal [company]="selectedCompany"></company-modal>
