<header><h2>Categories</h2></header>
<ul class="categories">
    <li><a href="#">Arts & Humanities</a>
        <ul class="sub-category">
            <li><a href="#">Photography</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Literature</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">Business & Economy</a>
        <ul class="sub-category">
            <li><a href="#">B2B</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Shopping</a></li>
            <li><a href="#">Jobs</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">Computer & Internet</a>
        <ul class="sub-category">
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Software</a></li>
            <li><a href="#">Web</a></li>
            <li><a href="#">Games</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">Education</a>
        <ul class="sub-category">
            <li><a href="#">Colleges</a></li>
            <li><a href="#">K-12</a></li>
            <li><a href="#">Distance Learning</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">Entertainment</a>
        <ul class="sub-category">
            <li><a href="#">Movies</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Humor</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">Government</a>
        <ul class="sub-category">
            <li><a href="#">Elections</a></li>
            <li><a href="#">Military</a></li>
            <li><a href="#">Law</a></li>
            <li><a href="#">Taxes</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="">Health</a>
        <ul class="sub-category">
            <li><a href="#">Disease</a></li>
            <li><a href="#">Drugs</a></li>
            <li><a href="#">Fitness</a></li>
            <li><a href="#">Nutrition</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">News & Media</a>
        <ul class="sub-category">
            <li><a href="#">Newspapers</a></li>
            <li><a href="#">Radio</a></li>
            <li><a href="#">Weather</a></li>
            <li><a href="#">Blogs</a></li>
        </ul><!--/.sub-category-->
    </li>
    <li><a href="#">Recreation & Sports</a>
        <ul class="sub-category">
            <li><a href="#">Sports</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Autos</a></li>
            <li><a href="#">Outdoors</a></li>
        </ul><!--/.sub-category-->
    </li>
</ul>
<!--/.categories-->
