<div id="content">
  <div class="row">
    <big-breadcrumbs items="['Компания', 'Создание компании']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </big-breadcrumbs>
  </div>
  <div>
    <div class="row">
      <form novalidate="novalidate" data-smart-validate-form name="addingCompany.smartForm">
        <div class="col-sm-12" data-smart-wizard
             data-current-step="addingCompany.currentStep">
          <div class="form-bootstrapWizard clearfix">
            <ul class="bootstrapWizard">
              <li data-smart-wizard-tab="1">
                <a href="#"> <span class="step">1</span> <span class="title">Base information</span> </a>
              </li>
              <li data-smart-wizard-tab="2">
                <a href="#"> <span class="step">2</span> <span class="title">Details</span> </a>
              </li>
              <li data-smart-wizard-tab="3">
                <a href="#"> <span class="step">3</span> <span class="title">Location</span> </a>
              </li>
              <li data-smart-wizard-tab="4">
                <a href="#"> <span class="step">4</span> <span class="title">Photos</span> </a>
              </li>
              <li data-smart-wizard-tab="5">
                <a href="#"> <span class="step">5</span> <span class="title">Services</span> </a>
              </li>
              <li data-smart-wizard-tab="6">
                <a href="#"> <span class="step">6</span> <span class="title">Sub categories</span> </a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane" data-smart-wizard-pane="1">
              <br>

              <h3><strong>Step 1 </strong> - Basic Information</h3>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-briefcase fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" type="text" name="name"
                             placeholder="Название"
                             data-smart-validate-input
                             data-required
                             data-message="Please specify your name"
                             ng-model="addingCompany.newCompany.name">

                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-briefcase fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" type="text" name="title"
                             placeholder="Титул"
                             data-smart-validate-input
                             data-required
                             data-message="Please specify your title"
                             ng-model="addingCompany.newCompany.title">

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-info fa-lg fa-fw"></i></span>
                      <textarea rows="2" class="form-control input-lg" type="text" name="desc"
                                placeholder="Описание"
                                data-smart-validate-input
                                data-message="Please specify your description"
                                ng-model="addingCompany.newCompany.desc"></textarea>

                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                      <ui-select tagging ng-model="addingCompany.categorySelected" theme="bootstrap">
                        <ui-select-match placeholder="Pick one...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="category in addingCompany.categories |
                        filter: $select.search track by category.name">
                          <div ng-bind="category.name"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="tab-pane" data-smart-wizard-pane="2">
              <br>
              <h3><strong>Step 2</strong> - Details</h3>
              <div class="Table">
                <div class="Table-row Table-header">
                  <div class="Table-row-item">Phone</div>
                  <div class="Table-row-item">Work time</div>
                </div>
                <div class="Table-row">
                  <div class="Table-row-item Table">
                    <div class="Table-row">
                      <div class="Table-row-item">
                        <fieldset>
                          <section class="col-md-6 form-input">
                            <label class="input">Number
                              <div class="input-group">
                                <input type="text" class="form-control"
                                       ng-model="addingCompany.newphone.number"
                                       data-smart-masked-input="+999999999999" data-mask-placeholder="X">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                              </div>
                            </label>
                          </section>
                          <section class="col-md-6 form-input">
                            <label class="input">Note
                              <div class="input-group">
                                <input type="text" class="form-control"
                                       ng-model="addingCompany.newphone.note">
                              </div>
                            </label>
                          </section>
                          <section class="col-md-6 form-input">
                            <label class="input">Priority
                              <div class="input-group">
                                <input type="text" class="form-control"
                                       ng-model="addingCompany.newphone.priority">
                              </div>
                            </label>
                          </section>
                          <section class="col-md-6 form-input detailButton">
                            <button class="btn btn-primary" ng-click="addingCompany.AddDetail('phone')">Сохранить
                            </button>
                          </section>
                        </fieldset>
                      </div>
                      <div class="Table-row-item">
                        <div class="form-group Table">
                          <div class="Table-row Table-header">
                            <div class="Table-row-item">number</div>
                            <div class="Table-row-item">note</div>
                            <div class="Table-row-item">priority</div>
                          </div>
                          <div class="Table-row" ng-repeat="phone in addingCompany.detail.phone track by $index">
                            <div class="Table-row-item">{{phone.number}}</div>
                            <div class="Table-row-item">{{phone.note}}</div>
                            <div class="Table-row-item">{{phone.priority}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Table-row-item">
                    <div class="form-group">
                      <div work-times="addingCompany.detail.workTime"
                           week-days="addingCompany.weekDays"></div>
                    </div>
                  </div>
                </div>
                <div class="Table-row Table-header">
                  <div class="Table-row-item">Email</div>
                  <div class="Table-row-item">Website</div>
                </div>
                <div class="Table-row">
                  <div class="Table-row-item">
                    <div class="form-group Table">
                      <div class="Table-row">
                        <div class="Table-row-item">
                          <label class="input">
                            <input class="form-control" name="email"
                                   ng-model="addingCompany.newemail">
                          </label>
                          <button class="btn btn-primary" ng-click="addingCompany.AddDetail('email')"> +</button>
                        </div>
                        <div class="Table-row-item">
                          <div class="form-group Table">
                            <div class="Table-row"
                                 ng-repeat="email in addingCompany.detail.email track by $index">
                              <div class="Table-row-item">{{email}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Table-row-item">
                    <div class="form-group Table">
                      <div class="Table-row">
                        <div class="Table-row-item">
                          <label class="input">
                            <input class="form-control" name="website"
                                   ng-model="addingCompany.newwebsite">
                          </label>
                          <button class="btn btn-primary" ng-click="addingCompany.AddDetail('website')"> +</button>
                        </div>
                        <div class="Table-row-item">
                          <div class="form-group Table">
                            <div class="Table-row"
                                 ng-repeat="website in addingCompany.detail.website track by $index">
                              <div class="Table-row-item">{{website}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" data-smart-wizard-pane="3">
              <br>
              <h3><strong>Step 3</strong> - Location</h3>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                      <ui-select tagging ng-model="addingCompany.citySelected"
                                 ng-change="addingCompany.getDistricts($select.selected)">
                        <ui-select-match allow-clear="true" placeholder="Pick one...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="city in addingCompany.cities |
                        filter: $select.search track by city.name">
                          <div ng-bind="city.name"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                      <ui-select tagging ng-model="addingCompany.districtSelected"
                                 ng-change="addingCompany.getStreets($select.selected)">
                        <ui-select-match allow-clear="true" placeholder="Pick one...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="district in addingCompany.districts |
                        filter: $select.search track by district.name">
                          <div ng-bind="district.name"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                      <ui-select tagging ng-model="addingCompany.streetSelected">
                        <ui-select-match allow-clear="true" placeholder="Pick one...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="street in addingCompany.streets |
                        filter: $select.search track by street.name">
                          <div ng-bind="street.name"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-building fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" placeholder="Номер дома"
                             type="text" name="building" ng-model="addingCompany.location.buildingId"
                             data-smart-validate-input data-required data-minlength="1">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-building  fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" placeholder="Номер квартиры"
                             type="text" name="room" ng-model="addingCompany.location.room"
                             data-smart-validate-input>
                    </div>
                  </div>
                </div>
                <!-- Point -->
                <div class="col-sm-4 c-points">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control input-lg" type="text" id="companyPointAdd"
                             ng-model="addingCompany.location.fullAddress"
                             ng-enter="addingCompany.findAddress('point', addingCompany.location.fullAddress, 'new')">
                      <span class="ng-binding input-group-addon">
                          <i class="icon-append fa fa-map-marker"
                             ng-click="addingCompany.findAddress('point', addingCompany.location.fullAddress, 'new')">
                          </i></span>
                    </div>
                    <!-- Warning -->
                    <article class="col-sm-12" ng-if="addingCompany.inputMaps['newpoint'].notFound">
                      <div class="alert alert-warning fade in">
                        <button class="close" data-dismiss="alert"
                                ng-click="inputMaps['newpoint'].notFound == false">×
                        </button>
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>Внимание!</strong> По запросу ничего не найдено
                      </div>
                    </article>
                    <!-- Warning -->
                    <!-- MAP -->
                    <div class="map"
                         ng-if="addingCompany.inputMaps['newpoint'] && addingCompany.inputMaps['newpoint'].display">
                      <ui-gmap-google-map center="addingCompany.inputMaps['newpoint'].map.center"
                                          zoom="addingCompany.inputMaps['newpoint'].map.zoom"
                                          events="addingCompany.inputMaps['newpoint'].map.events">
                        <ui-gmap-marker coords="addingCompany.inputMaps['newpoint'].marker.coords"
                                        ptions="addingCompany.inputMaps['newpoint'].marker.options"
                                        events="addingCompany.inputMaps['newpoint'].marker.events"
                                        idkey="addingCompany.inputMaps['newpoint'].marker.id">
                        </ui-gmap-marker>
                      </ui-gmap-google-map>
                      <div class="map-hide"
                           ng-click="addingCompany.inputMaps['newpoint'].display = false;"></div>
                      (<span ng-bind="addingCompany.location.point.lat.toFixed(5)"></span>,
                      <span ng-bind="addingCompany.location.point.lng.toFixed(5)"></span>)
                    </div>
                    <div class="map-show"
                         ng-click="addingCompany.showMap('point', 'new')"
                         ng-if="!addingCompany.inputMaps['newpoint'].display"></div>
                    <!-- MAP -->
                    <!-- End Point -->
                  </div>
                </div>

              </div>
            </div>

            <div class="tab-pane" data-smart-wizard-pane="4">
              <br>

              <h3><strong>Step 4</strong> - Photos</h3>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-file-image-o fa-lg fa-fw"></i></span>
                      <div class="input input-file">
                        <span class="button">
                          <input type="file" file-model="addingCompany.newCompany.file"
                                 file-name-model="addingCompany.newCompany.photo">Найти
                        </span>
                        <input type="text" placeholder="Include some files" readonly=""
                               ng-model="addingCompany.newCompany.photo" class="form-control input-lg">
                      </div>
                    </div>
                    <div ng-if="imageSrc">
                      <img class="col-md-12" ng-src="{{imageSrc}}">
                    </div>
                    <div ng-if="!imageSrc && addingCompany.newCompany.photo">
                      <img class="col-md-12"
                           ng-src="{{addingCompany.SERVER_URL}}/storage/test/{{addingCompany.location.cityId}}/{{addingCompany.newCompany.categoryId}}/{{addingCompany.newCompany.id}}/{{addingCompany.newCompany.photo}}">
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-file-image-o fa-lg fa-fw"></i></span>
                      <div class="input input-file">
                        <span class="button">
                          <input type="file" nv-file-select uploader="addingCompany.uploader">Найти
                        </span>
                        <input type="text" placeholder="Include some files" readonly="" class="form-control input-lg">
                      </div>
                    </div>
                    <div class="row" ng-if="addingCompany.uploader.queue.length">
                      <div ng-repeat="item in addingCompany.uploader.queue"
                           class="ng-scope col-sm-10 col-md-8 col-lg-4">
                        <div class="ng-scope">
                          <!-- Image preview -->
                          <div ng-thumb="{ file: item._file, height: 150 }" class="col-md-12"></div>
                          <!--fixed width and height -->
                          <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </div>
                        <div ng-bind="item.file.name" class="col-md-8"></div>
                        <button ng-click="item.remove()" class="col-md-4">Remove</button>
                      </div>
                    </div>

                    <div ng-if="!addingCompany.uploader.queue.length &&
                    addingCompany.detail.imageList.length">
                      <div ng-repeat="photo in addingCompany.detail.imageList"
                           class="ng-scope col-sm-10 col-md-8 col-lg-4">
                        <div class="ng-scope">
                          <img class="col-md-12"
                               ng-src="{{addingCompany.SERVER_URL}}/storage/test/{{addingCompany.location.cityId}}/{{addingCompany.newCompany.categoryId}}/{{addingCompany.newCompany.id}}/{{photo}}">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" data-smart-wizard-pane="5">
              <br>

              <h3><strong>Step 5</strong> - Services</h3>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="input-group">
                    </div>
                  </div>
                  <div class=" Table">
                    <div class="Table-row">
                      <div class="Table-row-item">
                          <div class="col-md-2 form-input">
                            <label class="input">Name
                              <input type="text" class="form-control"
                                     ng-model="addingCompany.newService.name">
                            </label>
                          </div>
                          <div class="col-md-4 form-input">
                            <label class="input">Description
                              <textarea rows="1" class="form-control input-lg" type="text" name="desc"
                                        ng-model="addingCompany.newService.desc"></textarea>
                            </label>
                          </div>
                          <div class="col-md-1 form-input">
                            <label class="input">Price
                              <input type="text" class="form-control"
                                     ng-model="addingCompany.newService.price">
                            </label>
                          </div>
                          <div class="col-md-1 form-input">
                            <label class="input">Sale price
                              <input type="text" class="form-control"
                                     ng-model="addingCompany.newService.salePrice">
                            </label>
                          </div>
                          <div class="col-md-2 form-input">
                            <label class="input">Currency
                              <input type="text" class="form-control"
                                     ng-model="addingCompany.newService.currency">
                            </label>
                          </div>
                          <div class="col-md-1 form-input">
                            <label class="input">Position
                              <input type="text" class="form-control"
                                     ng-model="addingCompany.newService.position">
                            </label>
                          </div>
                          <div class="col-md-1 form-input detailButton">
                            <button class="btn btn-primary" ng-click="addingCompany.AddService()">Сохранить
                            </button>
                          </div>
                      </div>
                    </div>
                    <div class="Table-row">
                      <div class="Table-row-item">
                        <div class="form-group Table">
                          <div class="Table-row Table-header">
                            <div class="Table-row-item">Name</div>
                            <div class="Table-row-item">Description</div>
                            <div class="Table-row-item">Price</div>
                            <div class="Table-row-item">Sale price</div>
                            <div class="Table-row-item">Currency</div>
                            <div class="Table-row-item">Position</div>
                          </div>
                          <div class="Table-row" ng-repeat="phone in addingCompany.services track by $index">
                            <div class="Table-row-item">{{phone.name}}</div>
                            <div class="Table-row-item">{{phone.desc}}</div>
                            <div class="Table-row-item">{{phone.price}}</div>
                            <div class="Table-row-item">{{phone.salePrice}}</div>
                            <div class="Table-row-item">{{phone.currency}}</div>
                            <div class="Table-row-item">{{phone.position}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="tab-pane" data-smart-wizard-pane="6">
              <br>
              <h3><strong>Step 6</strong> - Sub categories</h3>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="widget-body">
                    <div class="tree smart-form">
                      <ul data-smart-treeview data-items="addingCompany.subCategories" role="tree"></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="pager wizard no-margin">
                    <li class="previous" data-smart-wizard-prev>
                      <a href="#" class="btn btn-lg btn-default"> Previous </a>
                    </li>
                    <li class="next" data-smart-wizard-next>
                      <a href="#" class="btn btn-lg txt-color-darken" ng-click="addingCompany.formSubmit()"> Next </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>