<sebm-google-map [fitBounds]="bounds"
                 [styles]="styles">
    <sebm-google-map-marker *ngFor="let company of companyList"
                            [iconUrl]="markerIconUrl"
                            [latitude]="company.point.lat"
                            [longitude]="company.point.lng"
                            (onMarkerLoaded)="onMarkerLoaded($event)">
      <gmap-rich-marker [enableInfoBox]="enableInfoBox"
                        (onRichMarkerCreated)="onRichMarkerCreated($event)"
                        (onMarkerClicked)="onMarkerClicked({marker: $event, company: company})"></gmap-rich-marker>
    </sebm-google-map-marker>
    <gmap-marker-clusterer *ngIf="enableClusterer"
                           [markersObservable]="markersObservable"></gmap-marker-clusterer>
    <gmap-info-box *ngIf="enableInfoBox"
                   [markerClicked]="markerClicked"
                   (onInfoBoxCreated)="onInfoBoxCreated($event)"></gmap-info-box>
</sebm-google-map>
