<sebm-google-map [fitBounds]="bounds" [styles]="styles" (onMapLoaded)="onMapLoaded($event)" [enableClusterer]="enableClusterer">
  <sebm-google-map-marker *ngFor="let company of companyList"
                          [latitude]="company.point.lat"
                          [longitude]="company.point.lng" (onMarkerLoaded)="onMarkerLoaded($event)" [enableClusterer]="enableClusterer">
  </sebm-google-map-marker>
</sebm-google-map>
<gmap-marker-clusterer *ngIf="enableClusterer" [mapObservable]="mapObservable" [markersObservable]="markersObservable"></gmap-marker-clusterer>
