//Dimensions
$header-height: 70px;
$footer-height: 93px;
$sidebar-width: 200px;


//Fonts
$ff-main: Arial, sans-serif;
$ff-secondary: 'Ubuntu', sans-serif;


//Colors
$c-font-body: #474747;
$c-blue-main: #36b6ff;
$c-dark-blue: darken($c-blue-main, 15%);
$c-grey-main: #474747;
