<div id="c-table">

  <section id="widget-grid" widget-grid data-widget-grid>
    <div data-widget-color="darken" data-widget-editbutton="false" jarvis-widget>
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>{{settings.title}}</h2>
      </header>
      <div>
        <div class="widget-body no-padding">
          <p class="control-buttons">
            <!-- Table control buttons -->
            <button type="button" class="btn btn-info" ng-click="goToBack()" ng-class="{'disabled': !stateParams.previousState}">
              <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{settings.name}}NewRowModal"
                    ng-if="settings.buttons.add" ng-click="inputMaps = {}">
              <i class="fa fa-plus"></i>&nbsp;Добавить
            </button>
            <button ng-click="reloadTableData()" type="button" class="btn btn-info"
                    ng-if="settings.buttons.refresh">
              <i class="fa fa-refresh"></i>&nbsp;Обновить данные
            </button>
            <button ng-click="resetTableFilter()" type="button" class="btn btn-info">
              <i class="fa fa-retweet"></i>&nbsp;Сбросить фильтр
            </button>
            <!--End Table control buttons -->
            <!-- Table -->
          <table class="table table-striped table-bordered table-hover" width="100%"
                 datatable
                 dt-options="tableOptions"
                 dt-columns="tableColumns"
                 dt-instance="tableInstance">
          </table>
          <!--End table -->
        </div>
      </div>
    </div>
  </section>
  <!-- Start adding table row modal -->
  <div class="c-modal modal fade" id="{{settings.name}}NewRowModal" tabindex="-1" role="dialog"
       aria-labelledby="{{settings.name}}NewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="{{settings.name}}NewModalLabel">Добавление</h4>
        </div>
        <div class="modal-body">
          <section id="set-points-widget-grid" widget-grid data-widget-grid>
          <form id="{{settings.name}}-adding-new-row-form" class="smart-form" ng-submit="addNewRow()">
            <fieldset>
              <div ng-repeat="col in settings.columns track by $index" ng-if="!col.readOnly">
                <!-- Text -->
                <section class="col form-input" ng-if="!col.editorType || col.editorType=='text'">
                  <label class="input">{{col.title}}
                    <input type="text" id="{{settings.name}}{{col.dataField}}Text" placeholder="{{col.title}}"
                           ng-model="table.newData[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern">
                  </label>
                </section>
                <!-- End Txt-->

                <!-- Check box -->
                <section class="col form-input active-checkbox" ng-if="col.editorType=='checkbox'">
                  <label class="checkbox">
                    <input type="checkbox" id="{{settings.name}}{{col.dataField}}Checkbox"
                           ng-model="table.newData[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern">
                    <i></i>{{col.title}}</label>
                </section>
                <!-- End Check box -->

                <!-- Select box-->
                <section class="col form-input" ng-if="col.editorType=='selectBox'">
                  <label class="input">{{col.title}}
                    <select class="form-control input-sm" id="{{settings.name}}{{col.dataField}}SelectBox"
                            ng-model="table.newData[col.dataField]"
                            ng-required="col.required">
                      <option
                          ng-repeat="row in col.editorOptions.dataSource || table[col.editorOptions.dataSourceString] track by row.id"
                          value="{{row[col.editorOptions.value]}}"
                          ng-selected="table.newData[col.dataField]">
                        #{{row[col.editorOptions.value]}} ({{row[col.editorOptions.caption]}})
                      </option>
                    </select>
                  </label>
                </section>
                <!-- End Select box-->

                <!-- Number -->
                <section class="col form-input" ng-if="col.editorType=='number'">
                  <label class="input">{{col.title}}
                    <input type="number" id="{{settings.name}}{{col.dataField}}Number"
                           placeholder="{{col.placeholder}}"
                           ng-model="table.newData[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern">
                  </label>
                </section>
                <!-- End number-->

                <!-- Points -->
                <section class="col form-input c-points" ng-if="col.editorType=='points'">

                  <label class="input">
                    <span ng-bind="col.title"></span>
                    <i class="icon-append fa fa-map-marker"
                       ng-click="findAddress(col.dataField, table.newData._search[col.dataField], 'newData')"></i>
                    <input type="text" id="{{settings.name}}{{col.dataField}}Points"
                           placeholder="{{col.placeholder}}"
                           ng-model="table.newData._search[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern"
                           ng-enter="findAddress(col.dataField, table.newData._search[col.dataField], 'newData')">
                  </label>
                  <div></div>

                  <!-- Warning -->
                  <article class="col-sm-12" ng-if="inputMaps['newData' + col.dataField].notFound">
                    <div class="alert alert-warning fade in">
                      <button class="close" data-dismiss="alert"
                              ng-click="inputMaps['newData' + col.dataField].notFound == false">×</button>
                      <i class="fa-fw fa fa-warning"></i>
                      <strong>Внимание!</strong> По запросу ничего не найдено </div>
                  </article>
                  <!-- Warning -->
                  <!-- MAP -->
                  <div class="map" ng-if="inputMaps['newData' + col.dataField] && inputMaps['newData' + col.dataField].display">
                    <ui-gmap-google-map center="inputMaps['newData' + col.dataField].map.center"
                                        zoom="inputMaps['newData' + col.dataField].map.zoom"
                                        events="inputMaps['newData' + col.dataField].map.events">
                      <ui-gmap-marker coords="inputMaps['newData' + col.dataField].marker.coords"
                                      ptions="inputMaps['newData' + col.dataField].marker.options"
                                      events="inputMaps['newData' + col.dataField].marker.events"
                                      idkey="inputMaps['newData' + col.dataField].marker.id">
                      </ui-gmap-marker>
                    </ui-gmap-google-map>
                    <div class="map-hide" ng-click="inputMaps['newData' + col.dataField].display = false;"></div>
                    (<span ng-bind="table.newData[col.dataField].lat.toFixed(5)"></span>,
                    <span ng-bind="table.newData[col.dataField].lng.toFixed(5)"></span>)
                  </div>
                  <div class="map-show"
                       ng-click="showMap(col.dataField, 'newData')"
                       ng-if="!inputMaps['newData' + col.dataField].display"></div>
                  <!-- MAP -->

                </section>
                <!-- End points-->

              </div>
            </fieldset>
          </form>
            </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="submit" form="{{settings.name}}-adding-new-row-form" class="btn btn-primary">Добавить</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End adding table row modal -->

  <!-- Start editing table row modal -->
  <div class="c-modal modal fade" id="{{settings.name}}EditRowModal" tabindex="-1" role="dialog"
       aria-labelledby="{{settings.name}}EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="{{settings.name}}EditModalLabel">Редактирование</h4>
        </div>
        <div class="modal-body">
          <form id="{{settings.name}}-editing-row-form" class="smart-form"
                ng-submit="editRow(table.selectedRowKeyId, table.editRowData)">
            <fieldset>
              <div ng-repeat="col in settings.columns track by $index" ng-if="!col.readOnly">
                <!-- Text -->
                <section class="col form-input" ng-if="!col.editorType || col.editorType=='text'">
                  <label class="input">{{col.title}}
                    <input type="text" id="{{settings.name}}{{col.dataField}}EditText" placeholder="{{col.title}}"
                           ng-model="table.editRowData[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern">
                  </label>
                </section>
                <!-- End Txt-->

                <!-- Check box -->
                <section class="col form-input active-checkbox" ng-if="col.editorType=='checkbox'">
                  <label class="checkbox">
                    <input type="checkbox" id="{{settings.name}}{{col.dataField}}EditCheckbox"
                           ng-model="table.editRowData[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern">
                    <i></i>{{col.title}}</label>
                </section>
                <!-- End Check box -->

                <!-- Select box-->
                <section class="col form-input" ng-if="col.editorType=='selectBox'">
                  <label class="input">{{col.title}}
                    <select class="form-control input-sm" id="{{settings.name}}{{col.dataField}}EditSelectBox"
                            ng-model="table.editRowData[col.dataField]"
                            ng-required="col.required">
                      <option
                          ng-repeat="row in col.editorOptions.dataSource || table[col.editorOptions.dataSourceString] track by row.id"
                          value="{{row.id}}"
                          ng-selected="table.editRowData[col.dataField] == row.id">
                        #{{row[col.editorOptions.value]}} ({{row[col.editorOptions.caption]}})
                      </option>
                    </select>
                  </label>
                </section>
                <!-- End Select box-->

                <!-- Number -->
                <section class="col form-input" ng-if="col.editorType=='number'">
                  <label class="input">{{col.title}}
                    <input type="number" id="{{settings.name}}{{col.dataField}}EditNumber"
                           placeholder="{{col.placeholder}}"
                           ng-model="table.editRowData[col.dataField]"
                           ng-required="col.required"
                           ng-pattern="col.pattern">
                  </label>
                </section>
                <!-- End number-->

                <!-- Points -->
                <section class="col form-input c-points" ng-if="col.editorType=='points'">

                  <label class="input">
                    <span ng-bind="col.title"></span>
                    <i class="icon-append fa fa-map-marker"
                       ng-click="findAddress(col.dataField, editRowData._search[col.dataField], 'editRowData')"></i>
                    <input type="text" id="{{settings.name}}{{col.dataField}}Points"
                           placeholder="{{table.editRowData[col.dataField]}}"
                           ng-model="editRowData._search[col.dataField]"
                           ng-pattern="col.pattern"
                           ng-enter="findAddress(col.dataField, editRowData._search[col.dataField], 'editRowData')">
                  </label>
                  <div></div>

                  <!-- Warning -->
                  <article class="col-sm-12" ng-if="inputMaps['editRowData' + col.dataField].notFound">
                    <div class="alert alert-warning fade in">
                      <button class="close" data-dismiss="alert"
                              ng-click="inputMaps['editRowData' + col.dataField].notFound == false">×</button>
                      <i class="fa-fw fa fa-warning"></i>
                      <strong>Внимание!</strong> По запросу ничего не найдено </div>
                  </article>
                  <!-- Warning -->
                  <!-- MAP -->
                  <div class="map" ng-if="inputMaps['editRowData' + col.dataField] && inputMaps['editRowData' + col.dataField].display">
                    <ui-gmap-google-map center="inputMaps['editRowData' + col.dataField].map.center"
                                        zoom="inputMaps['editRowData' + col.dataField].map.zoom"
                                        events="inputMaps['editRowData' + col.dataField].map.events">
                      <ui-gmap-marker coords="inputMaps['editRowData' + col.dataField].marker.coords"
                                      ptions="inputMaps['editRowData' + col.dataField].marker.options"
                                      events="inputMaps['editRowData' + col.dataField].marker.events"
                                      idkey="inputMaps['editRowData' + col.dataField].marker.id">
                      </ui-gmap-marker>
                    </ui-gmap-google-map>
                    <div class="map-hide" ng-click="inputMaps['editRowData' + col.dataField].display = false;"></div>
                    (<span ng-bind="editRowData[col.dataField].lat.toFixed(5)"></span>,
                    <span ng-bind="editRowData[col.dataField].lng.toFixed(5)"></span>)
                  </div>
                  <div class="map-show"
                       ng-click="showMap(col.dataField, 'editRowData')"
                       ng-if="!inputMaps['editRowData' + col.dataField].display"></div>
                  <!-- MAP -->

                </section>
                <!-- End points-->

              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="submit" form="{{settings.name}}-editing-row-form" class="btn btn-primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End editing table row modal -->

  <!-- Remove table row modal-->
  <div class="modal fade" id="{{settings.name}}RemoveRowModal" tabindex="-1" role="dialog"
       aria-labelledby="{{settings.name}}removeRowModal"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="{{settings.name}}RemoveModalLabel">Удаление</h4>
        </div>
        <div class="modal-body">
          Вы точно хотите удалить:
          {{dataList[currentKeyId].name}}
          (№{{currentKeyId}})
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          <button type="button" class="btn btn-danger"
                  ng-click="removeRow(currentKeyId)">
            <i class='fa fa-trash-o'></i>&nbsp; Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End remove  table row modal-->

</div>

<table filter-table ng-show="showFilter">
  <tr id="column-filter">
    <th class="hasinput">
      <button type="button" class="btn btn-info" ng-click="setFilter()">
        <i class="fa fa-search"></i>
      </button>
    </th>

    <th class="hasinput" ng-repeat="col in settings.columns track by $index">
      <input type="text" class="form-control" placeholder="Filter {{col.title}}"
             ng-model="col.filter"
             ng-enter="setFilter();"/>
    </th>


  </tr>
</table>
