@import "main";

.content {
  background: #f4f4f2;
  @include flex-grow(2);
  @include display(flex);
  @include flex-direction(column);
}

.inner-wrapper {
  min-height: 100%;
  @include display(flex);
  @include flex-direction(column);
}

.inner-wrapper {
  @include position(relative, null null null 0);
  @include transition(all .3s);

  .sidebar-opened & {
    left: -$sidebar-width;
  }
}



/**
 * RESET STYLES
 */

body {
  height: 100%;
  font-family: $ff-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $ff-secondary;
  text-transform: uppercase;
}

input, select, .btn, .dropdown-menu, .form-control {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $c-grey-main;
  @include transition(all .3s);

  &:hover, &:focus {
    text-decoration: none;
  }
}

p {
  opacity: .6;
}

button {
  border: none;
  background: transparent;

  &:focus, &:active {
    outline: none;
  }
}

input, textarea, input.form-control, textarea.form-control {
  padding: 10px 9px 9px;
  @include box-shadow(inset 0px 1px 0.5px rgba(0, 0, 0, 0.15));
  border: none;

  .bs-searchbox & {
    border: 1px solid lighten($c-grey-main, 50%);
  }

  &:focus {
    @include box-shadow(inset 0px 1px 0.5px rgba(0, 0, 0, 0.15));
  }
}

.btn {
  border: none;
  font-weight: bold;
}

.btn-default {
  div:not([class*="bootstrap-select"])>& {
    background: $c-blue-main;
    color: #fff;

    &:hover {
      background: $c-dark-blue;
    }
  }
}

.fa-star {
  &_active {
    color: $c-blue-main;
  }
}

.modal-backdrop.in {
  opacity: .7;
}

// Booking theme for perfect scrollbar
@import "../vendor/perfect-scrollbar/src/css/main";

$ps-theme-booking: map-merge($ps-theme-default, (
        border-radius: 3px,
        rail-default-opacity: 0.2,
        rail-container-hover-opacity: 0.2,
        rail-hover-opacity: 0.5,
        bar-bg: transparent,
        bar-container-hover-bg: $c-grey-main,
        bar-hover-bg: $c-grey-main,
        rail-hover-bg: tranparent,
        scrollbar-x-rail-bottom: 0,
        scrollbar-x-rail-height: 15px,
        scrollbar-x-bottom: 4px,
        scrollbar-x-height: 7px,
        scrollbar-x-hover-height: 7px,
        scrollbar-y-rail-right: 0,
        scrollbar-y-rail-width: 15px,
        scrollbar-y-right: 4px,
        scrollbar-y-width: 7px,
        scrollbar-y-hover-width: 7px,
));

.ps-theme-booking {
  @include ps-container($ps-theme-booking);

  .modal &, &.modal {
    @include ps-container(map-merge($ps-theme-booking, (
            rail-default-opacity: 0.4,
            rail-container-hover-opacity: 0.4,
            rail-hover-opacity: 0.7,
            bar-container-hover-bg: #fff,
            bar-hover-bg: #fff,
    )));
  }
}
