<div id="outer-wrapper">
  <!-- Inner Wrapper -->
  <div id="inner-wrapper">
    <app-header class="header"></app-header>
    <!-- Page Canvas-->
    <div id="page-canvas">
      <!--Off Canvas Navigation-->
      <nav class="off-canvas-navigation">
        <header>Navigation</header>
        <div class="main-navigation navigation-off-canvas"></div>
      </nav>
      <!--end Off Canvas Navigation-->
      <!--Page Content-->
      <app-content id="page-content"></app-content>
      <!-- end Page Content-->
    </div>
    <!-- end Page Canvas-->
    <!--Page Footer-->
    <app-footer id="page-footer"></app-footer>
    <!--end Page Footer-->
  </div>
  <!-- end Inner Wrapper -->
</div>
