h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  text-transform: uppercase; }

p, div, a {
  font-family: Arial, sans-serif; }

.content {
  background: #f4f4f2; }

input, select, .btn, .dropdown-menu, .form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

a {
  color: #474747; }

input, textarea, input.form-control, textarea.form-control {
  padding: 10px 9px 9px;
  -webkit-box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
  border: none; }
  input:focus, textarea:focus, input.form-control:focus, textarea.form-control:focus {
    -webkit-box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15); }
