<div class="container container_pad">
  <div class="profile-navigation">
    <a routerLink="./" class="profile-navigation__link" routerLinkActive="profile-navigation__link_active"
       [routerLinkActiveOptions]="{exact:true}">Profile</a>
    <a routerLink="./favorites" class="profile-navigation__link" routerLinkActive="profile-navigation__link_active">My
      favorites</a>
    <a routerLink="./orders" class="profile-navigation__link" routerLinkActive="profile-navigation__link_active">My orders</a>
  </div>
  <div class="profile-content">
    <router-outlet></router-outlet>
  </div>
</div>


