@import "main";

.profile-navigation {
  &__link {
    display: inline-block;
    padding: 25px;
    font-size: 18px;
    font-weight: bold;
    color: $c-grey-bright;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;

    &_active {
      color: $c-grey-main;
      border-bottom: 3px solid #ff513f
    }
  }
}
.profile-content {
  margin: 20px 0;
}
