@import "main";

//COMMON
.aside-box {
  position: relative;
  margin-bottom: 20px;

  &_margin-bottom {
    margin-bottom: 40px;
  }

  &__wrapper {
    margin-top: 15px;
  }

  &__caption {
    font-family: $ff-secondary;
    font-size: 15px;
    font-weight: bold;

  }

  &_white {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
}

.aside-box__caption._lg {
  font-size: 16px;
  margin: 5px 0 30px 0;
  text-transform: uppercase;
}

.main-box {
  padding: 40px 0;

  &__title {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0 30px 0;
    text-transform: uppercase;

    &_lg {
      font-size: 24px;
      margin: 5px 0 30px 0;
    }

    &_review-form {
      margin-bottom: 0;
    }
  }
}

//btn show more
.btn-show-more {
  position: relative;
  font-weight: bold;

  &:hover {
    color: inherit;
  }

  &:before,
  &:after {
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #ff513f;
    display: block;
    font-size: 10px;
    position: absolute;
    right: -15px;
    top: 4px;
  }

  &:before {
    opacity: 1;
    content: "\f067";
  }

  &:after {
    opacity: 0;
    content: "\f068";
  }
}

//only for company detail page

.company-detail {

  //if not company found
  &-not-found {
    position: relative;
    height: 85%;
    background: url('scripts/components/comming-soon/assets/comming-soon-sm.jpg') center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    &__title {
      display: block;
      position: absolute;
      z-index: 10;
      min-width: 460px;
      max-width: 1000px;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      text-align: center;
      color: #fff;
      font-family: $ff-secondary;
      font-weight: bold;
      font-size: 5rem;
      text-shadow: 2px 2px 3px #000;
    }
  }



  &_pad {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  //company detail page caption
  &-caption {

    padding-bottom: 20px;

    &__title {
      margin: 0 0 5px 0;
      font-size: 30px;
      font-weight: bold;
      text-transform: none;
    }

    &__type {
      padding-top: 20px;
      text-align: right;
      &-name {
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 10px;

      }
      &-icon {
        padding: 5px 7px;
        font-size: 12px;
        margin-right: 0.8em;
        color: #676767;
        background-color: #fff;
        border-radius: 20px;
        -moz-border-radius: 20px;
      }
    }
  }

  &-gmap {
  }

  //contacts
  &-contacts {

    &__icon {
      width: 20px;
      opacity: .6;
    }

    &__address {
      margin-bottom: 15px;
    }

    &__info {
      line-height: 25px;
    }

    &__weblink {
      color: #ff513f;
    }

  }

  //form
  &-form {
    &_button {
      font-weight: bold;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      border: 1px solid #e8e8e4;
    }
  }


  //schedule slider
  &-schedule-slider {

    .carousel__btn-nav {
      position: absolute;
      display: inline-block;
      padding-top: 4px;
      width: 30px;
      height: 30px;
      top: 0;
      color: #ff513f;
      font-size: 18px;
      text-align: center;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border: 2px solid rgba(0, 0, 0, 0.1);

      &:hover {
        border-color: #ff513f;
        @include transition(all 400ms ease-in-out);
      }
    }

    &__prev {
      right: 40px;
    }
    &__next {
      right: 0;
    }

  }

  //working time
  &-worktime {
    &__day {
      font-weight: bold;
      line-height: 1.42857143;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 5px;
      margin-bottom: 5px;

      &-time {
        font-weight: normal;
      }
    }

  }

  &-schedule {
    &__day {
      color: #ff513f;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 0;
      padding: 0;

      &-icon {
        color: #777777;
        margin-right: 5px;
        font-size: 16px;
        vertical-align: text-top;
      }
    }
    &__item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    &__info {
      display: inline-block;
      width: 90%;
    }
    &__title {
      font-weight: bold;
    }

    &__price {
      display: inline-block;
      width: 8%;
      text-align: center;
      vertical-align: top;
    }
  }

}



//company detail events
.company-detail-events {

  &__select {
    color: #8d8d8d;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
}


//star rating

//rating
.star-rating {
  color: #DDDDDD;
  &__star {
    &:hover {
    }

    &_active {
      color: #ff513f
    }

    &_active_nearby {
      color: #8D8D8D;
    }
  }

  &_nearby {
    font-size: 11px;
    color: #DDDDDD;
  }
}

//bullet list
.red-bullet-list {
  list-style: disc;
  color: #ff513f;
  padding-left: 20px;
  &__item {
    &:hover {
      color: #ff513f;
      @include transition(all 400ms ease-in-out);
    }
  }
}

.red-bullet-list._disable-pad {
  padding: 0;
}

//reviews
.reviews-wrapper {
  &__title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__over-rating {
    margin-bottom: 40px;
  }
}

//btn write review
.btn-wrrite-review {
  padding: 10px;
  text-transform: none;
  border: 2px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);

  &__icon {
    margin-left: 10px;
    color: #ff513f;
  }
}

.review-box {
  margin-bottom: 60px;
  background: #fff;
  padding: 20px;

  &__avatar {
    margin: -20px 15px 10px -20px;
    border: 1px solid #fff;
  }

  &__date {
    font-size: 12px;
    text-align: center;
  }

  &__username {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  &__rating {
    margin: 15px 0;
  }
  &__txt {
    margin-bottom: 20px;
    opacity: 0.7;
  }
  &__evaluation {
    margin-bottom: 10px;
  }

}

.review-form {

  .form-control {
    border: 2px solid rgba(0, 0, 0, 0.06);
    box-shadow: none;
  }

  &__btn {
    color: #fff;
    background: #ff4330;
    border: none;
  }

  &__evaluate {
    margin-bottom: 20px;
  }

  &-box {
    margin-top: 40px;
    padding: 20px;
    background: #fff;

    &__form {
    }

  }

}
