.aside-box {
  position: relative;
  margin-bottom: 20px; }
  .aside-box_margin-bottom {
    margin-bottom: 40px; }
  .aside-box__wrapper {
    margin-top: 15px; }
  .aside-box__caption {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: bold; }
  .aside-box_white {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); }

.aside-box__caption._lg {
  font-size: 16px;
  margin: 5px 0 30px 0;
  text-transform: uppercase; }

.main-box {
  padding: 40px 0; }
  .main-box__title {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0 30px 0;
    text-transform: uppercase; }
    .main-box__title_lg {
      font-size: 24px;
      margin: 5px 0 30px 0; }
    .main-box__title_review-form {
      margin-bottom: 0; }

.btn-show-more {
  position: relative;
  font-weight: bold; }
  .btn-show-more:hover {
    color: inherit; }
  .btn-show-more:before, .btn-show-more:after {
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    color: #ff513f;
    display: block;
    font-size: 10px;
    position: absolute;
    right: -15px;
    top: 4px; }
  .btn-show-more:before {
    opacity: 1;
    content: "\f067"; }
  .btn-show-more:after {
    opacity: 0;
    content: "\f068"; }

.company-detail_pad {
  padding-top: 40px;
  padding-bottom: 20px; }

.company-detail-caption {
  padding-bottom: 20px; }
  .company-detail-caption__title {
    margin: 0 0 5px 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: none; }
  .company-detail-caption__type {
    padding-top: 20px;
    text-align: right; }
    .company-detail-caption__type-name {
      font-size: 10px;
      text-transform: uppercase;
      margin-right: 10px; }
    .company-detail-caption__type-icon {
      padding: 5px 7px;
      font-size: 12px;
      margin-right: 0.8em;
      color: #676767;
      background-color: #fff;
      border-radius: 20px;
      -moz-border-radius: 20px; }

.company-detail-contacts__icon {
  width: 20px;
  opacity: .6; }

.company-detail-contacts__address {
  margin-bottom: 15px; }

.company-detail-contacts__info {
  line-height: 25px; }

.company-detail-contacts__weblink {
  color: #ff513f; }

.company-detail-form_button {
  font-weight: bold;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e8e8e4; }

.company-detail-worktime__day {
  font-weight: bold;
  line-height: 1.42857143;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 5px; }
  .company-detail-worktime__day-time {
    font-weight: normal; }

.company-detail-schedule__day {
  color: #ff513f;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0; }
  .company-detail-schedule__day-icon {
    color: #777777;
    margin-right: 5px;
    font-size: 16px;
    vertical-align: text-top; }

.company-detail-schedule__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px; }

.company-detail-schedule__info {
  display: inline-block;
  width: 90%; }

.company-detail-schedule__title {
  font-weight: bold; }

.company-detail-schedule__price {
  display: inline-block;
  width: 8%;
  text-align: center;
  vertical-align: top; }

.company-detail-nearby {
  display: block;
  margin-bottom: 20px;
  padding: 15px 15px 0 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.05); }
  .company-detail-nearby ._block {
    display: block; }
  .company-detail-nearby__wrapper {
    padding-top: 10px; }
  .company-detail-nearby__name {
    font-size: 14px;
    font-weight: bold; }
  .company-detail-nearby__street {
    font-size: 12px; }
  .company-detail-nearby__img {
    width: 35%; }
  .company-detail-nearby__info {
    width: 65%;
    padding-left: 15px; }
  .company-detail-nearby__type {
    opacity: .6;
    font-size: 10px; }
    .company-detail-nearby__type_title {
      display: inline-block;
      padding: 5px;
      font-size: 9px;
      font-weight: bold; }
  .company-detail-nearby__rating {
    font-size: 11px;
    color: #DDDDDD; }
    .company-detail-nearby__rating_active {
      color: #8D8D8D; }
  .company-detail-nearby:hover {
    color: inherit; }
    .company-detail-nearby:hover .company-detail-nearby__name {
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out;
      color: #FF513F; }

.company-detail-events__select {
  color: #8d8d8d;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); }

.add-to-favorite {
  color: #ff513f;
  margin: 5px 0; }

.star-rating {
  color: #DDDDDD; }
  .star-rating__star_active {
    color: #ff513f; }
  .star-rating__star_active_nearby {
    color: #8D8D8D; }
  .star-rating_nearby {
    font-size: 11px;
    color: #DDDDDD; }

.red-bullet-list {
  list-style: disc;
  color: #ff513f;
  padding-left: 20px; }
  .red-bullet-list__item:hover {
    color: #ff513f;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }

.red-bullet-list._disable-pad {
  padding: 0; }

.reviews-wrapper__title {
  font-size: 24px;
  margin-bottom: 40px; }

.reviews-wrapper__over-rating {
  margin-bottom: 40px; }

.btn-wrrite-review {
  padding: 10px;
  text-transform: none;
  border: 2px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05); }
  .btn-wrrite-review__icon {
    margin-left: 10px;
    color: #ff513f; }

.review-box {
  margin-bottom: 60px;
  background: #fff;
  padding: 20px; }
  .review-box__avatar {
    margin: -20px 15px 10px -20px;
    border: 1px solid #fff; }
  .review-box__date {
    font-size: 12px;
    text-align: center; }
  .review-box__username {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px; }
  .review-box__rating {
    margin: 15px 0; }
  .review-box__txt {
    margin-bottom: 20px;
    opacity: 0.7; }
  .review-box__evaluation {
    margin-bottom: 10px; }

.review-form .form-control {
  border: 2px solid rgba(0, 0, 0, 0.06);
  box-shadow: none; }

.review-form__btn {
  color: #fff;
  background: #ff4330;
  border: none; }

.review-form__evaluate {
  margin-bottom: 20px; }

.review-form-box {
  margin-top: 40px;
  padding: 20px;
  background: #fff; }
