<div class="company-detail__gmap text-center">
  <img width="100%" src="scripts/pages/company-details/assets/detail-map.png" alt="">
</div>

<div class="container company-detail_pad">
  <div class="row">

    <!--left-->
    <div class="col-md-9">

      <!--company title-->
      <div class="row company-detail__page-caption">
        <div class="col-md-10">
          <h1 class="page-title company-detail__name">Max Five Lounge </h1>
          <p class="company-detail__street">63 Birch Street</p>
        </div>

        <div class="col-md-2">
          <div class="company-detail__type">
            <i class="fa fa-cutlery company-detail__type-icon"></i> Restaurant
          </div>

          <a href="" class="add-to-favorite"><i class="fa fa-star fa-lg fa-fw"></i>Add to favorite</a>

        </div>
      </div>


      <div class="col-md-4 col-sm-4">
        <div class="row">

          <!--company info-->
          <aside class="aside-box aside-box_white company-detail__contacts">
            <div class="aside-box__caption">Contact</div>
            <div class="aside-box__wrapper">

              <div class="company-detail__contacts-address">
                Max Five Lounge <br>
                63 Birch Street<br>
                Granada Hills, CA 91344
              </div>

              <div class="company-detail__contacts-info"><i class="fa fa-mobile company-detail__contacts-icon"></i>
                818-832-5258
              </div>
              <div class="company-detail__contacts-info"><i class="fa fa-phone company-detail__contacts-icon"></i> +1
                123 456 789
              </div>
              <div class="company-detail__contacts-info"><i class="fa fa-globe company-detail__contacts-icon"></i> <a
                href="" class="company-detail__contacts-weblink">www.b4u.com.ua</a></div>

            </div>
          </aside>


          <!--company rating-->

          <aside class="aside-box aside-box_white clearfix">
            <div class="aside-box__caption pull-left">
              Rating
            </div>

            <div class="company-detail__rating pull-right">
              <i class="fa fa-star company-detail__rating_active fa-lg" data-score="1"></i>
              <i class="fa fa-star company-detail__rating_active fa-lg" data-score="2"></i>
              <i class="fa fa-star company-detail__rating_active fa-lg" data-score="3"></i>
              <i class="fa fa-star company-detail__rating_active fa-lg" data-score="4"></i>
              <i class="fa fa-star fa-lg" data-score="5"></i>
            </div>

          </aside>


          <!--events-->
          <aside class="aside-box aside-box_white">
            <div class="aside-box__caption">
              Events
            </div>
            <div class="aside-box__wrapper">
              <p>Maecenas purus sapien, pellentesque non consectetur eu, rhoncus in mauris. Duis et nisl metus. Sed ut
                pulvinar mauris, bibendum ullamcorper ex. Aliquam vitae ante diam.
                Nam eu blandit odio. Cras erat lorem, iaculis eu nulla eu, sodales aliquam eros.</p>
            </div>
          </aside>


          <!--contact form-->
          <aside class="aside-box aside-box_white">
            <div class="aside-box__caption">Contact Form</div>
            <div class="aside-box__wrapper">

              <div class="company-detail-form">

                <div class="form-group">
                  <label for="company-detail-form__name">Name</label>
                  <input type="email" class="form-control" id="company-detail-form__name" name="company-detail-form__name"
                         required>
                </div>

                <div class="form-group">
                  <label for="company-detail-form__email">Email</label>
                  <input type="email" class="form-control" id="company-detail-form__email" name="company-detail-form__email"
                         required>
                </div>


                <div class="form-group">
                  <label for="company-detail-form__message">Message</label>
                  <textarea class="form-control" id="company-detail-form__message" name="company-detail-form__message" rows="3"
                            required></textarea>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn framed icon">Send<i class="fa fa-angle-right"></i></button>
                </div>

              </div>

            </div>
          </aside>


        </div>


      </div>

      <div class="col-md-8 col-sm-8">

      </div>
    </div>

    <!--right-->
    <div class="col-md-3"></div>
  </div>
</div>
