<aside id="left-panel" ng-controller="HomeController as home" ng-show="home.isAuthenticated">

    <!-- Client info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.home">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Главная</span>
                </a>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Компания</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.company.add">Добавление</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.company.verification">Подтверждение</a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Бронирование</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.booking.active">Активные
                            <span active-booking-count class="badge pull-right inbox-badge"></span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.booking.unprocessed">Не обработаные
                            <div unprocessed-booking-count class="badge pull-right inbox-badge bg-color-red"></div>
                        </a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Каталог</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.catalog.categories">Категории</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.catalog.companies">Компании</a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Журнал</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.log.notifies">Уведомления</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.log.smsLogs">SMS</a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">Локации</span></a>
                <ul>
                    <!--<li data-ui-sref-active="active">-->
                        <!--<a data-ui-sref="app.locations.countries">Страны</a>-->
                    <!--</li>-->
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.locations.regions">Регионы</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.locations.cities">Города</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.locations.districts">Районы</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.locations.streets">Улицы</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.locations.buildings">Здания</a>
                    </li>

                </ul>
            </li>

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>