@import "main";

.review-form {
  @include display(flex);
  @include flex-direction(column);
  background: #fff;
  min-height: 400px;

  &__wrapper {
    padding-bottom: 20px;
  }

  &__alert-danger {
    padding: 10px 20px;
    color: #fff;
    background: #FF5A56;

    .fa {
      font-size: 18px;
      color: #FFE687;
    }
  }

  &__alert-success {
    padding: 10px 20px;
    color: #929292;
    .fa {
      font-size: 18px;
    }
  }

  &__section {
    @include display(flex);
    @include flex-basis(0 0 100%);
    @include flex-direction(column);
    padding: 20px 20px 0 20px;


    &._columns {
      @include flex-direction(row);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
    }

    &._username-section {
      @include flex-direction(column);
    }

  }

// Elements
  &__title {
    margin: 0;
    background: $c-blue-main;
    padding: 15px 20px;
    font-size: 26px;
    text-transform: none;
    color: #fff;
  }

  &__caption {
    background: $c-blue-main;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
  }

  &__text {
    width: 49%;
  }

  &__textarea {
    width: 100%;
    outline: none;
    border: 1px solid #eaeaea;
    box-shadow: none;

    &._invalid {
      border: 1px solid #FF5A56;
      box-shadow: 0 0 8px rgba(255, 90, 86, .2);
    }
  }

  &__username {
    width: auto;
    padding: 9px 0;
    font-size: 18px;
    border-bottom: 1px solid #eaeaea;
    box-shadow: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &__text-title {
    padding: 10px;
    font-size: 16px;

    .fa {
      font-size: 20px;
    }
  }

  &__label {
    font-size: 12px;
  }

  &__submit {
    background: $c-blue-main;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    &._disable{
      opacity: .4;
    }
  }

  &__overall-rating {
    @include align-self(center);
    font-size: 12px;

    &-value {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      font-weight: bold;
      padding-left: 10px;
    }
  }

  //  Star rating

  &__rate {
    @include flex(0 0 49%);
    margin-bottom: 15px;
    font-size: 26px;
  }

  &__rate-wrapper {
    padding: 20px 15px;
    text-align: center;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
}

._ff-ubuntu {
  font-family: $ff-secondary;
}

.star-icon {
  font-size: 24px;
}
