/* Custome table */
#c-table .control-buttons {
    background: #FAFAFA;
    margin: 0;
    padding: 10px;
    min-width: 80px;
}

#c-table tr {
    cursor: pointer;
}

#c-table .active-checkbox {
    padding-top: 15px;
}

#c-table .form-input {
    width: 100% !important;;
}
#c-table  .action-buttons {
    min-width: 80px;
}

.c-modal .modal-header {
    background: #3a3737;
    color: #fff;
}
.c-modal .alert-warning {
    margin-bottom: 0;
}
.c-modal .map {
    height: 400px;
    border: 1px solid #bdbdbd;
    border-top: none;
    margin-bottom: 15px;
}

.c-modal .map-hide {
    width: 40px;
    height: 10px;
    background-color: #3a3737;
    position: absolute;
    left: calc(100% - 55px);
    bottom: 5px;
    cursor: pointer;
}
.c-modal .map-hide:before {
    content: '';
    position: absolute;
    bottom: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid #6b6d6b;
}

.c-modal .map-show {
    height: 10px;
    background-color: #3a3737;
    position: absolute;
    left: calc(100% - 45px);
    bottom: 5px;
    cursor: pointer;
}
.c-modal .map-show:before {
    content: '';
    position: absolute;
    bottom: -17px;
    z-index: 0;
    border-bottom: 7px solid transparent;
    border-top: 5px solid #6b6d6b;
    border-left: 15px solid #6b6d6b;
    border-right: 15px solid #6b6d6b;
}

.c-modal .icon-append, .c-modal .icon-prepend {
    bottom: 5px;
    top: initial;
}

.c-points .icon-append {
    cursor: pointer;
}

.angular-google-map-container { height: 400px; }


/* Table flex */

.Table {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    border: 1px solid #f2f2f2;
    font-size: 1rem;
    margin: 0.5rem;
    line-height: 1.5;
    width: 100%;
}
.Table-header {
    display: none;
}
@media (min-width: 500px) {
    .Table-header {
        font-weight: 700;
        background-color: #f2f2f2;
    }
}
.Table-row {
    width: 100%;
}
.Table-row:nth-of-type(even) {
    background-color: #f2f2f2;
}
.Table-row:nth-of-type(odd) {
    background-color: #ffffff;
}
@media (min-width: 500px) {
    .Table-row {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .Table-row:nth-of-type(even) {
        background-color: #ffffff;
    }
    .Table-row:nth-of-type(odd) {
        background-color: #f2f2f2;
    }
}
.Table-row  .action-buttons {
    flex-grow: 1;
}
.Table-row-item {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 5;
    flex-grow: 5;
    -ms-flex-positive: 1;
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-preferred-size: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 0.5em;
    word-break: break-word;
    align-items: flex-start;
    align-content: flex-start;
}

.web-site .Table-row-item,
.email .Table-row-item {
    align-items: center;
    justify-content: center;
}

.web-site .Table-row-item .input,
.email .Table-row-item .input {
    margin-bottom: 0;
}

.Table-row-button {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-preferred-size: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 0.5em;
    word-break: break-word;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}
.Table-row-item:before {
    content: attr(data-header);
    width: 30%;
    font-weight: 700;
}
@media (min-width: 500px) {
    .Table-row-item {
        border: 1px solid #ffffff;
        padding: 0.5em;
    }
    .Table-row-item:before {
        content: none;
    }
}

.select2-hidden-accessible {
    display: none !important;
}