<div class="header">
  <div class="container-fluid">
    <div>
      <a href="http://b4u.com.ua/" class="logo text-capitalize">booking<span>4</span>you</a>
    </div>
    <span></span>
    <div *ngIf="!currentUser">
      <a routerLink="/login">{{'Sign in' | translate}}</a>
      <a routerLink="/registration"><strong>{{'Register' | translate}}</strong></a>
    </div>
    <div *ngIf="currentUser">
      <div class="dropdown user-dropdown">
        <button class="dropdown" class="user-dropdown__btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUser.email}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu user-dropdown__list">
          <a routerLink="/profile"><i class="fa fa-user"></i> <strong>Profile</strong></a>
          <a routerLink="/profile/favorites"><i class="fa fa-star"></i> <strong>My Favorites</strong></a>
          <a routerLink="/profile/orders"><i class="fa fa-cart-arrow-down"></i> <strong>My Orders</strong></a>
        </ul>
      </div>
      <a (click)="logout()">Logout</a>
    </div>
    <lang-switcher></lang-switcher>
    <button (click)="onSidebarToggle()">
      <i class="fa fa-navicon"></i>
      <i class="fa fa-close"></i>
    </button>
  </div>
</div>
