@import "main";
.header {
  height: $header-height;
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

  .container-fluid {
    height: 100%;
    @include display(flex);
    @include justify-content(space-between);

    > span {
      @include flex-grow(2);
    }

    > div {
      @include display(flex);
      @include align-items(center);
    }
  }

  .logo {
    display: block;
    font-family: 'Pacifico';
    font-size: 2em;
    margin-top: -16px;
    color: $c-blue-main;

    span {
      font-size: 1.5em;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: $c-dark-blue;
    }
  }

  a {
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer;

    &:hover, &:focus {
      text-decoration: none;
      color: darken($c-blue-main, 10%);
    }
  }

  button {
    @include flex-basis(36px);
    padding: 0 10px;
    font-size: 18px;
    position: relative;

    .fa {
      @include position(absolute, 50% null null 50%);
      @include transform(translate(-50%, -50%));
      @include transition(all .3s);
    }

    .fa-close {
      opacity: 0;
      @include transform(translate(-50%, -50%) scale(1.5));
    }

    .sidebar-opened &, &:hover {
      color: $c-blue-main;

      .fa-navicon {
        opacity: 0;
        @include transform(translate(-50%, -50%) scale(0.5));
      }

      .fa-close {
        opacity: 1;
        @include transform(translate(-50%, -50%) scale(1));
      }
    }
  }
}
