<div class="header">
  <div class="container-fluid">
    <div>
      <a href="http://b4u.com.ua" class="logo text-capitalize">booking<span>4</span>you</a>
    </div>
    <span></span>
    <div *ngIf="!currentUser">
      <a routerLink="/login">Войти</a>
      <a routerLink="/registration"><strong>Регистрация</strong></a>
    </div>
    <div *ngIf="currentUser">
      <a href="#"><strong>{{currentUser.email}}</strong></a>
      <a (click)="logout()">Выйти</a>
    </div>
    <button (click)="onSidebarToggle()">
      <i class="fa fa-navicon"></i>
      <i class="fa fa-close"></i>
    </button>
  </div>
</div>
