.header {
  height: 70px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
  .header .container-fluid {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .header .container-fluid > span {
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      flex-grow: 2;
      -ms-flex-positive: 2; }
    .header .container-fluid > div {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
  .header .logo {
    display: block;
    font-family: 'Pacifico';
    font-size: 2em;
    margin-top: -16px;
    color: #36b6ff; }
    .header .logo span {
      font-size: 1.5em; }
    .header .logo:hover, .header .logo:focus {
      text-decoration: none;
      color: #0094e9; }
  .header a {
    padding: 0 5px;
    font-size: 12px;
    cursor: pointer; }
    .header a:hover, .header a:focus {
      text-decoration: none;
      color: #03a3ff; }
  .header button {
    -webkit-flex-basis: 36px;
    -moz-flex-basis: 36px;
    flex-basis: 36px;
    -ms-flex-preferred-size: 36px;
    padding: 0 10px;
    font-size: 18px;
    position: relative; }
    .header button .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .header button .fa-close {
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) scale(1.5);
      -moz-transform: translate(-50%, -50%) scale(1.5);
      -ms-transform: translate(-50%, -50%) scale(1.5);
      -o-transform: translate(-50%, -50%) scale(1.5);
      transform: translate(-50%, -50%) scale(1.5); }
    .sidebar-opened .header button, .header button:hover {
      color: #36b6ff; }
      .sidebar-opened .header button .fa-navicon, .header button:hover .fa-navicon {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        -moz-transform: translate(-50%, -50%) scale(0.5);
        -ms-transform: translate(-50%, -50%) scale(0.5);
        -o-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5); }
      .sidebar-opened .header button .fa-close, .header button:hover .fa-close {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); }
  .header .user-dropdown__btn {
    position: relative;
    z-index: 1001;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    color: #36b6ff; }
  .header .user-dropdown__list a {
    display: block;
    font-size: 12px;
    padding: 10px 10px; }
    .header .user-dropdown__list a:hover {
      background: #f4f4f2; }
