<h4  class="company-list__title">{{'Filters' | translate}}</h4>
<div class="filter-container">
  <select (onSelected)="onCitySelected($event)" [selected]="navigationExtras.queryParams.cityId" [items]="cityList" name="city" title="Город" class="selectpicker" data-live-search="true"></select>
  <select (onSelected)="onCategorySelected($event)" [selected]="navigationExtras.queryParams.categoryId" [items]="categoryList" name="category" title="Категория" class="selectpicker" data-live-search="true"></select>
</div>
<div *ngIf="!navigationExtras.queryParams.cityId || !navigationExtras.queryParams.categoryId" class="text-muted text-center company-list__warning">
  <i class="fa fa-lg fa-exclamation-triangle"></i>
  {{'Please choose both filters' | translate}}
</div>
