<h4>Filters</h4>
<div class="filter-container">
  <select (onSelected)="onCitySelected($event)" [selected]="navigationExtras.queryParams.cityId" [items]="cityList" name="city" title="City" class="selectpicker" data-live-search="true"></select>
  <select (onSelected)="onCategorySelected($event)" [selected]="navigationExtras.queryParams.categoryId" [items]="categoryList" name="category" title="Category" class="selectpicker" data-live-search="true"></select>
</div>
<div *ngIf="!navigationExtras.queryParams.cityId || !navigationExtras.queryParams.categoryId" class="text-muted text-center">
  <i class="fa fa-search"></i>
  Nothing to show. Please choose both filters
</div>
