@import "main";

$fixed-height-default: 450px;
$fixed-height-for-modal: 350px;

.gallery-container {
  background: darken($c-main-content-bg, 5%);
  overflow: hidden;
  position: relative;
  @include display(flex);
  @include transition(height .3s);

  .modal & {
    background: transparent;
  }

  &.fixed-height{
    max-height: $fixed-height-default;
    min-height: $fixed-height-default;

    .modal & {
      max-height: $fixed-height-for-modal;
      min-height: $fixed-height-for-modal;
    }

    img {
      min-width: 100%;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &:hover {
    .prev, .next {
      opacity: .3;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .prev, .next {
    color: #ffffff;
    opacity: 0;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    height:  100%;
    width: 50%;
    font-size: 50px;
    text-shadow: 0 0 3px $c-grey-main;
    @include display(flex);
    @include justify-content(flex-start);
    @include align-items(center);
    @include transition(all .3s);

    &:hover {
      opacity: 1;
    }
  }

  .next {
    left: auto;
    right: 0;
    @include justify-content(flex-end);
  }
}

.thumbs-container {
  margin-top: 15px;
  @include display(flex);
  @include flex-flow(row wrap);

  .thumb-wrapper {
    cursor: pointer;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex(0 1 16%);
    height: 50px;
    overflow: hidden;
    margin: 0 5px 5px 0;
    opacity: .5;
    position: relative;

    &.active {
      opacity: 1;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
