.gallery-container {
  background: #e8e8e4;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }
  .modal .gallery-container {
    background: transparent; }
  .gallery-container.fixed-height {
    max-height: 450px;
    min-height: 450px; }
    .modal .gallery-container.fixed-height {
      max-height: 350px;
      min-height: 350px; }
    .gallery-container.fixed-height img {
      min-width: 100%;
      top: 0;
      bottom: 0;
      margin: auto; }
  .gallery-container:hover .prev, .gallery-container:hover .next {
    opacity: .3; }
  .gallery-container img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .gallery-container .prev, .gallery-container .next {
    color: #ffffff;
    opacity: 0;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    font-size: 50px;
    text-shadow: 0 0 3px #474747;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .gallery-container .prev:hover, .gallery-container .next:hover {
      opacity: 1; }
  .gallery-container .next {
    left: auto;
    right: 0;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }

.thumbs-container {
  margin-top: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap; }
  .thumbs-container .thumb-wrapper {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 16%;
    -moz-flex: 0 1 16%;
    -ms-flex: 0 1 16%;
    flex: 0 1 16%;
    height: 50px;
    overflow: hidden;
    margin: 0 5px 5px 0;
    opacity: .5;
    position: relative; }
    .thumbs-container .thumb-wrapper.active {
      opacity: 1; }
  .thumbs-container img {
    max-width: 100%;
    height: auto;
    width: auto; }
